body {
color: #839496;
background-color: #002b36;
}

#container { 
margin-left:auto;
margin-right:auto;
width: 70%;
}

h1 { text-align: center; }

a {
color: inherit;
background-color: inherit;
font: inherit;
text-decoration: underline;
}

img.screenshot { width: 256px; }

table.gallery { 
margin-left:auto;
margin-right:auto;
}

#footer {
font-family: Arial;
position: fixed;
/* width: 100%; */
padding-left: 10px;
height: 60px;
border: 0px;
vertical-align: middle;
background: #ffdab9;
text-align: center;
bottom: 0px;
right: 0px;
color: black;
}

img.footer {
vertical-align: middle;
margin: 4px;
}
