Source: aura
Section: user/Other
Priority: extra
Maintainer: Xabier Rodriguez Calvar <calvaris@igalia.com>
Build-Depends: debhelper (>= 7), applauncherd-dev, libcontentaction-dev,
 libqt4-dev, libgstreamer0.10-dev
Standards-Version: 3.8.4
XB-Maemo-Flags: visible
XB-Homepage: https://projects.developer.nokia.com/whatever
XB-Bugtracker: https://projects.developer.nokia.com/whatever

Package: aura
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: Record videos with funny effects
 Aura is an application to record videos applying several kind of effects
 to them.
XB-Maemo-Display-Name: Aura
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAAB6AAAAegBIWCXLAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABpKSURB
 VHicnXtrjF3Xdd631trn3Htn5nKGjxmK1IP0WKIsMpIs07L8ks3KbgvDbW23ZRO0gSsEhYICTf+m
 v0oRaIEWQR9o0bRA04fh2EVDBWiaOo4cNaEgO7ItUyElcSRTEimLNEXN8DUcztw79569V3+stc85
 QzJm4wNsnMe99+z9fetba6+9zrmkqvhZGxER8ncOH6anDx3CySNHaGl2llb6fRr2enRPWdLVpSVe
 XZnk/uQK7/3BD/YUKyuPUlU9Qkl3gmhKCZOkmCCiCQA9VZ0g2zMR1hQ0YKI1VQwBXQV0FYrrBL1U
 Mb9ScfnS6QcfOF5t++h6b1Dpu9dHOju7N80egOLIEew7eFCfBmow2jr+mfh+FgEEUAaOQ4dwsAV8
 bnGRB70HaNeJ39s+dWHxIBEeYeABAu4D8xSIAGYbBbMPigAiG57f2kgGVBUEgNS/qQpNqd5DFaQ6
 UsVpFno9KZ2IneL/vH/w4KunBwOd378/4cgRHDl4UJHBE6D6s4m4JQEbrA7QTcAfeID2/devfTFU
 o3/AwBPKVILYgBIhEUGJADIC7NivtUeXaTEGMkgnon2uQEpgKJDsXGMCqWrS9DJE/vvarl1fP/XU
 U6uzgO4D9OnDh4FDhzQzrH+OpW8ioG31pw8dwkmATh87xsNejw58++gdcuncPxLQLxHT3SCuwSox
 lH1PzT6rQJmNU6amp/aWgaqCnQSkBFJTAbka6vO6JWhMgOo1EP7XEMW/X/irTxyfXVrSjWq4NQkb
 CGiDP7h3b2P16Wm+92u//aVQjf4TMW8GExLxRtDsZDBDSZAITgJDCaYGIsBgek/mDpRPHRTaIN3y
 lBJYEyilWg3UIohdMZpSpar/8vmDBw/P79+fNqjhFiTUBFBjklryS3NzPPv8Qvnhcyd+g5GeAjNv
 AJuP2YAmYqgIEhlBbYWA2MAT3cIpFaRGTW15NJZnTWBVsCYgRjvP4FNqSFJzFY0JxPQnK1NTf+/U
 Jz+5NLu0pEcWFjS7RDtAukns/GmAsuSXFxf5iePHd0+trH4TjI/UYLgN1MGz1NcTi4MWKBESqIkB
 4ByYPBhuGIRbJNUKYACksSEhJVCKroQIyQT55ze6jKqej53OV48fOPD8n0cCQZVuBD+3OM13Ljy7
 Y/ry+R8o8Zxm4JwtbuCVBdEJSCyIoIYMuPzdrhvlT1g+/1O8efRZFBMT6M9ux/wnPwuug6FbFArS
 WFufNIGdAK6VEEEx1opgVVCKtQtBdcTd7hd/+JnPHL0xLiigBFXaAH56ms+fORM+9/wLfwjop2uL
 OwFGQkB0IpQFkXyfCchqQYsAZDcA3nvtOF78rX+DVI1rFdz3xBfw8N/8ZQ+ECUx5BnBQ2ra871MC
 qxEgbXXE6DFCgRRBwHuXN2/+6OlHH128kQS+Efzi8rI88d0//acg/XRiagF3K3NAlIDIAUkKVBwQ
 WVCRfVaRIFJAhLWEgAixlhhRBYtvvbEBPABcOvM2kgqiiv+mqO8RKSBSYX2y9ZmksHFIQBJB8n1s
 uacyAyxQ0I6t1659fWlujpdmZ+ngkSOEw4cJAGR23z4+PRzy3OI0L4Zl+dR3/vizYTz8d4mYwaG5
 oXeiYiATByQx8IkEiQISic0AEKiKuQEYCoGqHytj6dSruHz6jQ0E9LbM4p6Pf65RS73nDdcslvhe
 AaLGrUAE8iDTCjGeZ6QP7Hn9dT3x2GPfBYBHJyex8MwzkN7nfz3MhUVejEG2XjzTvePc2WcTMI2a
 TSPBADvwrAS/ruwEONgEQdIWcCWoMqAMTQSQ4NxLf7KBgF0f/8vYPL8PsNCXvdNyiOw+BA+kjo78
 OCeXOamyVKmZ1vLXVT+569SZP3ht4iPvYxZ48sknlec/3aOrMzPcn+/x/W+88Ytg3gFuSYk3go8s
 JrsatJhMVZA0ICZBSgLVgBQZMTFStBYjIyXB5t0Popya3mChHY8cqL9X/y6x3UftOLqqEqzvCEYk
 RqTsAtkoAnVDKbHPRAwFFeVo8Guzs4u80u/TSYB4aXGC+5OTjMVRKJN+NYGQmIA8zeWbc7COstxb
 vr3B6io22EjQJNDISFGgSZAqhlYMpIDO1OYNCignttl38vf9NzHaPaMyklo/MZ97vMmqtH0+5nqa
 Riswg/GlPRcuTM1NT/PpY8eY+/1LLIMJ+eDJH34Qqh9TT2Iyk5EblqNHfLO6k6OCGAnJLRYTQxND
 YxsMI1UEjYzxsMI7Lz6L64tna/CqioX//VsYXr3mhHF9P02mHE0eV1JLBTC3i94SST1T5WnagnjO
 UAmq6G96++1fvrq0xPO9HoXLwylJ15fCnisXfzUCvOGHrgDNga6Wn1k7afZ1C242YGp83o9TVLx/
 8ns4d+w7uHLmBFKscON29offxrmX/hDTd92Pub2fwK6PfwGh1wORBbRECtUEJgK1fR8C8oQLqKAk
 YCYkBQgxRxAkjRBmxBgRxvGr/cnJ/7y0uKihGA+ECy6Cpq9UnPN79yFiwOVvmV3wKG/5vqo4WCci
 GXBNBI1ORCKceva/4J0/feYm0DduqoqrZ9/A1bNv4Nr5t/HhX/x1gBUQj3IJUGEQEhQReTJP8AkC
 CjAQUwVhga2ExZbarNAEECsI+siHnnvuoTOf/ewJljiS+06+/CixbAMHkARQCIAEUCigEtyHTAnq
 Pm/g2TsQIHHtw5ol67589kffui34G7cLr72Aaj02sSNZLFB3jRxvFD62PD4OAAdABCoBKgIEw0Ih
 gMRS9O5o9NdXVnocBr2udKvRR8AmJXC+UatRALLFiQEVAGLTWm15ARKBEiNFs7wmwnhtDXE0+AsT
 AFWsLr2HTTt2g5gAUs8HkiWUCqitoNz80X5G0adFm/tsVmw+t1VngoAe7PVKDhLHUgK/gCAgMEgE
 xAYYLEALPMhAA1L7PdSvJTIrJbY5PBKQCMMrF//i4H0bXH4f/bkPgsiqQkxOLJEDTLZ04JwgOdg2
 +ERmWLLplhPZ4ono/pXxQAJpCgzsiWTTBTwAEruVyWQGsnP1BAfKIAhS2+8TexQ38BoZ48HPYX3f
 xmtrJvkqgYWhpGAxgJQXsZ7kqKqnvaYMcw2DADSrzbwx0e474noncCpESOaTEMhjAPt8Tw6aII2l
 wY30Pbuz6gd7HCAgZjIIo9WVn5uAajAAogdaStCotew1WXHJ6yAWKCl6JuigiVoZIsDM4BQhyoCm
 4q4fn3go7F46s4uF+6TcVG2YPc1sBboseTI1EAhJXW6aAx87eKrn/mvv/fjnJmD9+lVoZHPp6JaN
 CUQMhZpSa6CxXm2aWmGzAEmzLsiL4AQwEyZi9eGwZeX6w0al5ejkub1JyC3uVifyaF/n9tJIP1s+
 muXzfvn8KzWgUPZRjf7/FXH13HFoNFDMBE3J+E4JzALV6GrMsnd7QL28LDVykgBSQo6JUEUR04PM
 mu4AC1gC2KcJ4lYjqRcjVjthkBOSrd/In2vra2RUgwGW3zMCuv27sP2+r9wW9OSWPehtuhsAcO3C
 AuL6GPCUmhLX/Wkin424HhORgMjjVx6/iIF3XByCYRWBMM9yYO63S9qgLH8DC/Ybg5vP2rHAp7t6
 YNHJiIzLP3kJmizr6297CCL92xLQmdyJ6R2PAgBSHOPqT0/WfWgijzc5CLtR1IsuvoJs1x9rLMwg
 yeSYq5PwJAvTFG+wOnsTB98QYx3CO3W9gRoiYj42+V8++/0a2JY7Pwcg3JaAotyCzXc+Xp9fOfsj
 c6nUbvAsE7UxiMTGSK5Maq7ZdN7EOGIGiyCwTDCBJzdYnxtLk9f04MABAkNq0HlP2Qp5gNHalbMv
 GqjOZsxs/0sYrV26LQESprB5++MoultqArKLZZVRdr8bagfkY62J8PyA8jmZcZklfz7BwjRBzgq5
 xa3VdVoQkU+JVBMBuAXQskQ9KxAGV3+K9dULAIBtu/4aVAuM1t6/LQEpRgAl5ua/CABYWVpANRy0
 XI18TFznA/V5fvTWUmxWMphBTOCsbGEw0QQT0SSzwNyAWzewmzKzd9AAzx3WckMzMK9q49riq0Yf
 B8zN/xKQGOur529LwMrFl6ERmPvAlwEAmiLef/M7Dbmgjcd5PNh43iaDvHF2caLs7j0OzL1sfWaG
 iIBdCQ34jcpoEgxPOeHzr5KxDsbFd/4YALD9g38H3cldiOMh1q7dPidYWz6FNF7HxPR92Lbr8wCA
 s8e/Yf20Cc/jghvCPydisI+d2I6zz2eM7BiFucukmCA2BqkGTA4ezpYD5YbNpjl4/x1AuPrecVz6
 iRGw476/Cyhh9eprUL25DnDjphpx/cpJQAl37fsVI+XKO7h4+gXckM3esJGPrz3Oxq1rN3FsbuQe
 kzAIBBauwdYyoTa75MUIuqFj9e/m84S3X/yN+lMOPQDAcOXMbcHnbeXSCYCA0G3KZm997z9ANd3C
 AE1rYgFcCVRjYva9cO0KbAqRAXMj7fZxM43mDrRhN7PdWmkRAZd+8l2oRUcnwJ6cK25v/bzF0VUQ
 AVJ0NhD9/o//qDbArUlAC0OjhFxF4pZB2QL/gFl4kCVhjDhbefFAXJ83neDmc589Z+c/g6IzjbK3
 FWVvK4puH8QKULoF1FtvXPQABsreJgCAhC6mts7jjg99zmfqrDhLeW8ejxOCG8kB2liFeRgAXhNh
 RCUI2QKHwRBhpEQgzT/y+l7y+MAEFUKKAAvVaxEWwvxjT+Ha+6fQndoNCYIEyi+JbNhCMY2qWgF0
 IzlSdECs4FBgz+P/BKPB+5idfwxE6lLWWtYW7JKP8Ya9r+uECM26NkGIwQpwkEEgoTVWt3wOgCCQ
 r5hYCcmPY7IbJtbaBVgIKfmAhKBRseWe/Zi+Yz9SRUhje4mht+mumwiYnHkAsVrD9Suv3EBAF7my
 dddDB8FhjKIbwIW6mlr5WiaF8pK3be0sf82rBW9sb5soDYIyrzIl+4AYAkZSgggjxkyCVWWZ2dbh
 TK4AmAL8GAposNWaFIK6agnF1Jb5mwjoTc9DpHsTAb3pO40AUXDBkKIEcXLLa53ZspPOrJ7rEIiS
 uzHsuhu0NrASmACBgIQHgSWsSowQtdp5VLgrAMKN9VkJkvN+BZTV51QgqRVvNXnFpiBEKLigzAB6
 m3eApYMU1xsFbN6NUEzdRMzMzofAQRsSXA22yKMWCVmJ6kTkIAh7ukwEpjYJDFHYY3UATLwWlOi6
 iECSIgEQYiRYlBTYY6WkbmUQlLPsfUDJLa820Gay3hggNREmNs/j+sXXWwTsQtGd2QB+YmYXOlOb
 nAC7J3ECCyCBwJLAwa0udRWvXsZIJogNvDD5I1rbCzMk2XViXg0qYTGkiAitX2iwhx6ExLbSFvIF
 DoAkVmZQtccOok2anAsOjfa1WVckYGrLBzYQ0JueQ9HdtIGATdv3InQIlC0vMMAhgQLAhZPgasjy
 FyGIy17YjgOzPT8iRiBFACCqEBEEAhLzxbAYeq9sjWMEKJTIZgPAXm9RQnKwKQEizVJYhKwQmV80
 SblCqW59k2AidQUARXdyo6/PbEPRmQIR17nD1NZd4JA2yt73JI3Vc9FaxOOA95PB140YQgpRi/4C
 RVBFYGCNwwKfnpw6y4QVCwyEwNaYCUJ2EyaFiMcCVp/uPPAEavxUFFwAHBRSwFqpkEIhpSJ0ujV4
 KbrobuojdBnlxJYWKXOQMt9D3fIKCgrxPvLe3CAHQLi/N2PO76gw/DqZetmTo9WicyKgChES3gmI
 D9oLKfaiY1AgsatAARV/Vu/BPb9LmZ9DABsTpBQBIIF8htAEhE6T2XX7c5COuUs5MYP1VXt+kKrr
 BtwtbpY2gqWlBBGqz4XNQMLkhlIIMQIlCFkZJsCLZ2QlXiEeL/S3vxqUq0jMbwXVB5NaIGyToJkA
 9bqEeqmRAMlVVq+6N9lZQ0aKsGd6SVF0WwoIHUhh3y0nmjgQxysNAaEp6HAmQiziS9AabAjmAkEI
 wmoqJoUQGXgmBGjdRBUc5N3VsY5Cl0OsSE72OH0lJgcPA5rIjkP9KArNexeE+hWVSADIYggREEnd
 932ajBYrQqesgXIREFwQ5WRDwGjtErjwaU20nvsltP3ewQsQgs39UruAR35VFGwECKllgup7Iijo
 zTiOKWBUxUFZnuiPIiKs5o6E1guN5KXo+o06s7bPdrFKyK+vJC9NB2akaMA1eaqsQKxWGwJEIIVl
 bxKaWuHyhVMIJbWA+3FT2IHYs0879qgfGCjELB/IwAspApEDJ5sVnJgk4SSkjCFMSvX94eTLX+H1
 S0F1K8h+WFCuvgAqbIjroE+oossAsNfR0CxGUtImTXYSVIFq/VoNFBohpf0upSY56kxNGzF5nmcF
 CXm+ny1PDtxmgUI8wFGWP1Bk3yegYLbIDyCQBfnLnck/6A2qxLReRgrdUeTw+2WQ+gdFvlFrXzCh
 DIzAQAjWioIggRAC2bXC/bMEQuGttDZ334MNfo319TQe1td37T9QXw8FwIVCgnp/rX7yXizqF+It
 K8HHG9hAF8z1DCchvPJCb9OrvLUbmcI4FhyqcxT+WymSAhngNvhANm8GdpbFj9mPxSN0sMEWpZHA
 QQ1AAUhQ7N7/GRTdCSMgVTY9Fopq1LjG3Y98CuJTKQetScz3Z9G63ww8sFq0b4+daMM+kCV1QQTr
 Cd/gYTeO16vEXHYjDav4o/6Ot8B8rLY0M0omFGTHBVHNbruJKApXQhHI/dMtlgdfKEKH0Jnq4p5H
 HnfZV3WeMB6uAQBm7pzH9PY5SJH8t2Zx8bm/CISida22tJgyy0AohVGQKaF0JRfENiMwoRRZOdHf
 8j+kHEXu9WPg1fU4nOlRoSMaQr45GfAoYrIqa672+HsI5Bkuqy8z2dYCFQOI7vdeM/A/eXgWqVZO
 V+Duhx/D2y8+izReR/AYUK0bAXc/9DFIaC9rPekiT3nJLC1iVhUGCg90gYEC3shJgNZxIMB+oyzf
 enswdb1Lg7RtNE48Xl1PtDaKNBzH75cTvxuELxhr+WZwJdi+ZFcCN/5WZCkKmUt4fJCAlv+anO95
 +KMAgOuXF6HVGkKBWgH3fPhj9j3/nbiPh5Bdzf2ezSVtDIRSmvEVeYy1/H0qhKIQHl+X7n+kYhRD
 d1OsZu9KLHs2Re71Y1fK6lJ/89olpV/rhFBZ4DAXKAgofd/xDkqGdezBpywYpcs0CMwtnIgsZwkA
 cm1QFZfefQMaBxgNLAbsfGCfyb7wAJubmHuVAegERimETiB0hFCKAe0woSRC6TNA0Rp/YEKnLBBD
 +Nd/FPonuNePO1fW04U/W9Cwe213Wl49R+vrw8jC9Hw5c/RL1cpvdgr6x+OUgKRWF4RlgGMQONm7
 /OwLJyFbGVZeNUri+6S+uvS1oQJXzp6qA96lM6+j0y2Q/69w7cI7mJnbYlVq8mqPr+ltXeKLGU9w
 Cm6kbWrNGZ9ZPMCywYIYQYoXfrvY8i8mrq7FbZ0yYW532gckPj84ptXVYep0NsWJcrIaSVn9fpz5
 58zyUqMC1K2ESa3LjA5nRcCbW0Rg+6wCUZTB1HLl7Ns1AZfffQvnX/tRfb546jVXlCKI2n0C0Akm
 85JhVvf+TPZA2XLTrFjbmwsUISwuJP6ViXKy6nQ2xerqMJ0fHNOTS1D6HVV57tgx7ixOc5jp8vp0
 R9ZGq+ET69fv+lAYHx3FuHWcEhIRKjUBjxWIIFRAfS3vozZNQYiqrgBCUsXq8lVcOPUG1pavYmbn
 naiGQ5x97QR2fmgf7v3YJyz4QfNrGV6NSlbYbE1xAkVB2dJGhqh9LmgywEKkGrAc/J/D3v8N3eux
 Mz0d15fvTZ/fj7QAKD2tykePHuU9/T7dSMIXaO3eO9L4azHGveOUEBWoiFCpIoIwVjXpw8lRRSKy
 76mtJ6L/cS+TUJdKbvgDF+fStVdvqF66wt0sL2cVAWblQE1+X+Tvwc+ZEUSWril+9Zlh77k2+J0r
 RxUHDiQcBuQAEe1+8kk9duoUzWxR8KWAkgi8eh1vF90rS7H3zd1hNNsReTilROQ+nwdtza4xWxld
 6loCNZYTiyOWr5MnVYRC2KYpNoBFPctQaz5HHeA6zI07erpbMrWSIEIZAiTI994cd//G0cntJyZH
 HHlLSOvL96ZTK0d1dWlJ5555Bk8fOuB/mfF/hu4F6Lljx3hnbz8tL58TmSx4fVDIWn8t/O3R5S/3
 if7VaFzNVCkhksm7Amr3iNkFYC35ufp3AXvJ1dYKVFvfQqUHPjWr1y6Qre9BOLgSAgDWZsnLUE93
 uRoT/dtvxql/FlaGMfv8+txy2rmyUlv+0CF/gcTfL0Em4SRA+46CMLfA7yxOcNnv8MxUIStLa+HR
 /viOD2DtHwbgb8WUdo6Tok1GAtXgNxCAJh6o1w/V1tL+SVNL9Kf89awjZDHBwJO/r2bggysvGPAV
 ZfrWNSp+89urcqLT68eLmwZx99paOv/dgX7+qf1pAVAcPoynDx1SX84rqf29hPJK7zBAJ4+A9s2C
 zvdBnem3OHS7vH6tI9VgRYo4CtLrhL+iwy/2oX8fKX2q0iRVShYDkN/RbkjItYXs+3X5MNcW8t9l
 s+WJ6r/NiccFe6pj1/KKLjCDSU4OVb/x8qj79Yu8ZWVpuJhCd1PsTO+IF/5sQffN7k0nl6D7Dt4M
 HkDrj5NtEg6DTu49QvtmZ+l8v0/ZJaZ3C116dzVU41JibyghleFBHtw9H/DlwPQLTHo/FPdE1V7U
 hCopqmRWTwokt3oOf+1AyDmuAPUsIMS25PXKdCCKIDqrwJsKLCwzffv3LoeXu1RWoRjFTq8f4+o4
 meQt2J1cWtJ9Cwf10KFafBv+UH3L/w4bCe4SR4B9s6CTcwv8eLmXXnvjPd45Ffh8f4UnR6VU3cCS
 1mWUisCdscgoFY+EeP8WHj/SZd5HijtAOgnQhGqaIKIuQF1Au6TowmavAUBDkA6YeKhIAyjWCLSq
 0MuV0sIK6PjCqDx+GZ1B5CpWg1GUMI5Tsj32elU6P6jSzpV1xdxawuLetPcAdAFmzUOHDt0SPAD8
 P7KizBlICSbQAAAAAElFTkSuQmCC
