[Desktop Entry]
Encoding=UTF-8
Version=0.1
Name=Aura
GenericName=Aura
Comment=Aura
Exec=/usr/bin/invoker --single-instance --splash /opt/aura/share/aura/aura-splash.jpg --type=d /opt/aura/bin/aura
Terminal=false
Type=Application
Icon=/opt/aura/share/icons/hicolor/64x64/apps/aura.png
