[Desktop Entry]
Encoding=UTF-8
Version=0.1
Name=Aura
GenericName=Aura
Comment=Aura
Exec=/usr/bin/single-instance /usr/bin/aura
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/64x64/apps/aura.png
